@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
  height: 100vh;
}
.wrapper {
  height: 160vh;
  color: #333333;
}
.featureWrapper {
  height: 60vh;
}
.main1 {
  height: calc(100vh);
  text-transform: uppercase;
}
nav {
  z-index: 2;
  position: fixed;
}
.light {
  background: #007dbe;
}
.glossarySection {
  height: calc(200vh - 80px);
}
.sidebar {
  height: calc(150vh - 80px);
  z-index: 1;
}
.left-1\/6 {
  left: 16.66%;
}
.right {
  right: 3.55%;
  width: 28%;
  z-index: 1;
}
.accountwrapper {
  height: 100vh;
}
.up {
  height: calc(((100vh - 80px) * 4 / 7) - 15px);
  margin-top: calc(15px * 2 / 3);
}
.down {
  height: calc(((100vh - 80px) * 3 / 7) - 15px);
  margin-bottom: calc(15px * 2 / 3);
}
.hidden {
  display: none;
}
.slider {
  display: none;
}
.vertical {
  height: 200vh;
}
*::selection {
  background: #000;
  color: #fff;
}
@media (max-width: 640px) {
  img {
    height: 35px;
    width: 140px;
  }
  .wrapper {
    height: 140vh;
  }
  .featureWrapper {
    height: 40vh;
  }
}
